<!doctype html>
<html lang="en">
    <head>
        <title>Messenger Stats</title>

        <meta charset="utf-8">
        <meta name="description" content="View statistics about your Messenger conversations">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/vendor/water.light.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>

        <script src="/static/js/index.js" defer></script>
    </head>
    <body>
        <h1>Messenger Stats</h1>
        <form enctype="multipart/form-data" action="/upload" method="post">
            <input id="messenger-file-input" type="file" name="messenger_files" multiple/>
        </form>
        <input id="get-stats-btn" value="Get Stats" />
    </body>
</html>
