<!doctype html>
<html lang="en">
    <head>
        <title>Messenger Stats</title>

        <meta charset="utf-8">
        <meta name="description" content="View statistics about your Messenger conversations">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/vendor/water.light.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>

        <script src="/static/js/vendor/highcharts.js"></script>
        <script src="/static/js/vendor/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
        <script src="/static/js/view.js" defer></script>
    </head>
    <body>
        <h1>Messenger Stats</h1>
        <h2 id="title"></h2>
        <div class="chart full-with-chart" id="messages-per-month-chart"></div>
        <div class="half-width-chart-container">
            <div class="chart half-width-chart" id="messages-per-user-chart"></div>
            <div class="chart half-width-chart" id="messages-per-weekday-chart"></div>
        </div>
        <div class="chart full-with-chart" id="word-cloud-chart"></div>
    </body>
</html>
