body {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
}

.chart {
    margin-top: 1em;
}
.full-width-chart {
    width: 100%;
}
.half-width-chart-container {
    display: flex;
    width: 100%;
}
.half-width-chart {
    width: 50%;
}
