body {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

form {
    /* So labels and inputs inside is on the same line */
    /* https://stackoverflow.com/a/44019830/6396652 */
    display: flex;
    flex-direction: row;

    margin: auto;
    width: 50%;
}

label, input {
    display: block;
    padding: 0.5em;
}

.chart-container {
    height: 35vh;
    padding-bottom: 1em;
}

.side-by-side > div {
    display: inline-block;
}
